* {
  padding: 0%;
  margin: 0%;
}
html {
  height: 100vh;
  width: 100vw;
}
body {
  display: grid;
  grid-template-rows: 1fr 1fr 8fr 1 fr;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
}

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter {
  display: flex;
  justify-content: center;
  color: azure;
  padding: 1em;
  margin-bottom: 1em;
}
.nav {
  grid-area: a;
  background-color: aquamarine;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.lista {
  display: none;
}
.b {
  grid-area: b;
  background-color: blueviolet;
}

.c {
  grid-area: c;
  height: 80vh;
  background-color: indigo;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0.5em;
}
.card2 {
  display: none;
}
.button {
  background-color: ghostwhite;
  padding: 8px;
  margin-top: 2%;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 100%;
}
.d {
  grid-area: d;
  background-color: aquamarine;
  padding: 1.5em;
}
@media (min-width: 576px) {
  body {
    grid-template-areas:
      "a b b b"
      "a c c c"
      "a c c c"
      "d c c c";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 10% 10% 70% 10%;
  }
  .nav {
    height: 100%;
  }
  .lista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .c {
    height: 80vh;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  .card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
  }
  i {
    display: none !important;
  }
  .d {
    height: 100%;
  }
}
